<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live game</title>
</head>
<body>
    <div>
        <form action="/" method="post">
            <label for="summoner_name_input">Summoner Name:</label>
            <input type="text" name="summoner_name_input" id="summoner_name_input" class="large_input">
            <button type="submit"> live game </button>
        </form>
    </div>
    <div id="data">

    </div>
</body>
    <script>

    </script>
</html>