<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Live Game</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/live_game.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet"> 
</head>
<body>
    <section id="players_data">
        {% for player in data %}
            <div class="player" id="{{ player }}">
                <img src="{{ data[player]['champion_icon'] }}" alt="{{ data[player]['champion_name'] }}">
                <p id="champion_name">{{ data[player]["champion_name"] }}</p>
                <!-- <audio controls>
                    <source src="{{ data[player]['champion_vfx'] }}" type="audio/ogg">
                    Your browser does not support the audio element.
                </audio>  -->

                <!-- Cooldown modifiers -->
                <div id="cooldown_modifiers">
                    <!-- Cosmic insight -->
                    <img src="{{ static_data['cosmic insight']['icon'] }}" alt="cosmic insight"
                        style="border-color: {{ 'green' if data[player]['has_cosmic_insight'] else 'red'}};"
                    >
                    
                    <!-- Lucidity boots -->
                    <img src="{{ static_data['lucidity boots']['icon'] }}" alt="lucidity boots" onclick="cooldownModifierToggle(this)">
                </div>

                <!-- Summoner spells -->
                <div class="summoner_spells">
                    {% for summoner_spell in data[player]["summoner_spells"] %}
                        <div class="summoner_spell" id="{{ summoner_spell['name'] }}" 
                            onclick="
                                summonerCooldownCountdown(this);
                                ">
                            <img src="{{ summoner_spell['image'] }}" alt="summoner_spell['name'] }}">
                            <p class="cooldown">{{ summoner_spell['cooldown'] }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </section>

</body>

<script>
    function cooldownModifierToggle(element){
        element.style.borderColor = element.style.borderColor == "green" ? "red":"green";
    }

    function summonerCooldownCountdown(element){
        let lucidity_boots = element.parentElement.parentElement.children[2].children[1].style.borderColor == "green" ? 1 : 0
        let initial_cooldown = parseFloat(element.children[1].innerHTML * 100/(100 + lucidity_boots * 12)).toPrecision(5); 
            // formula for ability Haste, no changes if no lucidity boots
        let counter = setInterval(() =>{  
            if (element.children[1].innerHTML > 0){
                element.children[1].innerHTML -= 1;
            } else {
                clearInterval(counter);
                element.children[1].innerHTML = initial_cooldown;
                summonerCooldownCountdownOver(element);
            }
        }, 1000);
    }

    function summonerCooldownCountdownOver(element){
        alert("countdown over!");
    }

    function selectChampion(element){
        
    }
</script>

</html>